@import "../../styles/variables.scss";

.logo {
  @include flex(center, center, row);
  width: 118px;
  border: none;
  padding-right: 31px ;
  border-radius: 5px;
  cursor: pointer;
  img {
    width: 100%;
  }
}
